{{define "footer"}}
    <footer>
      <div class="text-bg-primary py-3 text-center">
         <p>&copy; 2024 <a href="http://github.com/cloudwego" class="text-reset"> CloudWeGo</a></p>
      </div>
    </footer>
{{end}}